<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdc5.libmng.mapper.BillMapper">
    <insert id="addBill" parameterType="com.xdc5.libmng.entity.Bill" useGeneratedKeys="true" keyProperty="billId">
        INSERT INTO Bill (userId, billSubject, billAmount
        <if test="billDate != null">, billDate</if>
        <if test="billStatus != null">, billStatus</if>)
        VALUES (#{userId}, #{billSubject}, #{billAmount}
        <if test="billDate != null">, #{billDate}</if>
        <if test="billStatus != null">, #{billStatus}</if>)
    </insert>
    <update id="updateStatusById">
        UPDATE Bill
        SET billStatus = #{billStatus}
        WHERE billId = #{billId}
    </update>
    <select id="getUserIdByBillId" resultType="int" parameterType="int">
        SELECT userId
        FROM Bill
        WHERE billId = #{billId}
    </select>
</mapper>