<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdc5.libmng.mapper.BillMapper">
    <insert id="addBill" parameterType="com.xdc5.libmng.entity.Bill">
        INSERT INTO Bill (billId,userId, billSubject, billAmount
        <if test="billDate != null">, billDate</if>
        <if test="billStatus != null">, billStatus</if>)
        VALUES (#{billId},#{userId}, #{billSubject}, #{billAmount}
        <if test="billDate != null">, #{billDate}</if>
        <if test="billStatus != null">, #{billStatus}</if>)
    </insert>
    <update id="updateStatusById">
        UPDATE Bill
        SET billStatus = #{billStatus}
        WHERE billId = #{billId}
    </update>
    <select id="getUserIdByBillId" resultType="int">
        SELECT userId
        FROM Bill
        WHERE billId = #{billId}
    </select>
    <select id="getBillByUserId" resultType="com.xdc5.libmng.entity.Bill" parameterType="int">
        SELECT billId,billId, userId, billSubject, billAmount, billDate, billStatus
        FROM Bill
        WHERE userId = #{userId}
    </select>
</mapper>