<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdc5.libmng.mapper.BookInfoMapper">
    <sql id="selectBookInfo">
        SELECT
            bi.isbn,
            bi.title,
            bi.author,
            bi.cover,
            bi.description,
            bi.location,
            SUM(CASE WHEN binst.borrowStatus = 0 THEN 1 ELSE 0 END) AS available,
            SUM(CASE WHEN binst.borrowStatus = 1 THEN 1 ELSE 0 END) AS borrowed
        FROM
            BookInfo bi
                LEFT JOIN
            BookInstance binst ON bi.isbn = binst.isbn
    </sql>
    <insert id="addBookInfo" parameterType="com.xdc5.libmng.entity.BookInfo" keyProperty="isbn">
            INSERT INTO BookInfo (isbn, title
            <trim prefix="," suffixOverrides=",">
                <if test="author != null">
                    author
                </if>
            </trim>
            <trim prefix="," suffixOverrides=",">
                <if test="cover != null">
                    cover
                </if>
            </trim>
            <trim prefix="," suffixOverrides=",">
                <if test="description != null">
                    description
                </if>
            </trim>
            <trim prefix="," suffixOverrides=",">
                <if test="location != null">
                    location
                </if>
            </trim>
            )
            VALUES (
            #{isbn}, #{title}
            <trim prefix="," suffixOverrides=",">
                <if test="author != null">
                    #{author}
                </if>
            </trim>
            <trim prefix="," suffixOverrides=",">
                <if test="cover != null">
                    #{cover}
                </if>
            </trim>
            <trim prefix="," suffixOverrides=",">
                <if test="description != null">
                    #{description}
                </if>
            </trim>
            <trim prefix="," suffixOverrides=",">
                <if test="location != null">
                    #{location}
                </if>
            </trim>
            )
        </insert>
    <delete id="delBookInfoByISBN">
        DELETE FROM BookInfo WHERE isbn=#{isbn}
    </delete>

    <select id="getBookInfo" parameterType="com.xdc5.libmng.entity.BookInfo" resultType="com.xdc5.libmng.entity.BookInfo">
        SELECT isbn,title,author,cover,description,location
        FROM BookInfo
        <where>
            <if test="isbn != null">
                AND isbn=#{isbn}
            </if>
            <if test="title != null">
                AND title=#{title}
            </if>
            <if test="author!= null">
                AND author=#{author}
            </if>
            <if test="description !=null">
                AND description=#{description}
            </if>
            <if test="location !=null">
                AND location=#{location}
            </if>
        </where>
    </select>

    <select id="getBookInfoByIsbn" resultType="com.xdc5.libmng.entity.BookInfo">
        SELECT isbn,title,author,cover,description,location
        FROM BookInfo
        WHERE isbn=#{isbn}
    </select>


    <select id="getBookInfoByTitle" resultType="java.util.HashMap">
        <include refid="selectBookInfo"/>
        WHERE
            bi.title LIKE #{title}
        GROUP BY
            bi.isbn, bi.title, bi.author, bi.cover, bi.description, bi.location
        ORDER BY borrowed DESC;
    </select>
    <select id="getAllBookInfo" resultType="java.util.HashMap">
        <include refid="selectBookInfo"/>
        GROUP BY
            bi.isbn, bi.title, bi.author, bi.cover, bi.description, bi.location
        ORDER BY borrowed DESC;
    </select>
    <select id="getBookInfoByAuthor" resultType="java.util.HashMap">
        <include refid="selectBookInfo"/>
        WHERE
            bi.author LIKE #{author}
        GROUP BY
            bi.isbn, bi.title, bi.author, bi.cover, bi.description, bi.location
        ORDER BY borrowed DESC;
    </select>
    <select id="getBookDetailByIsbn" resultType="java.util.HashMap">
        <include refid="selectBookInfo"/>
        WHERE
            bi.isbn LIKE #{isbn}
        GROUP BY
            bi.isbn, bi.title, bi.author, bi.cover, bi.description, bi.location
        ORDER BY borrowed DESC;
    </select>

    <update id="updateBookInfo" parameterType="com.xdc5.libmng.entity.BookInfo">
        UPDATE BookInfo
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="author != null">author = #{author},</if>
            <if test="cover != null">cover = #{cover},</if>
            <if test="description != null">description = #{description},</if>
            <if test="location != null">location = #{location},</if>

        </set>
        WHERE isbn = #{isbn}
    </update>
</mapper>