<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdc5.libmng.mapper.BookInfoMapper">
        <insert id="addBookInfo" parameterType="com.xdc5.libmng.entity.BookInfo" keyProperty="isbn">
            INSERT INTO BookInfo (isbn, title
            <trim prefix="," suffixOverrides=",">
                <if test="author != null">
                    author
                </if>
            </trim>
            <trim prefix="," suffixOverrides=",">
                <if test="cover != null">
                    cover
                </if>
            </trim>
            <trim prefix="," suffixOverrides=",">
                <if test="description != null">
                    description
                </if>
            </trim>
            )
            VALUES (
            #{isbn}, #{title}
            <trim prefix="," suffixOverrides=",">
                <if test="author != null">
                    #{author}
                </if>
            </trim>
            <trim prefix="," suffixOverrides=",">
                <if test="cover != null">
                    #{cover}
                </if>
            </trim>
            <trim prefix="," suffixOverrides=",">
                <if test="description != null">
                    #{description}
                </if>
            </trim>
            )
        </insert>
    <delete id="delBookInfoByISBN">
        DELETE FROM BookInfo WHERE isbn=#{isbn}
    </delete>

    <select id="getBookInfo" parameterType="com.xdc5.libmng.entity.BookInfo" resultType="com.xdc5.libmng.entity.BookInfo">
        SELECT isbn,title,author,cover,description
        FROM BookInfo
        <where>
            <if test="isbn != null">
                AND isbn=#{isbn}
            </if>
            <if test="title != null">
                AND title=#{title}
            </if>
            <if test="author!= null">
                AND author=#{author}
            </if>
            <if test="description !=null">
                AND description=#{description}
            </if>
        </where>
    </select>

    <select id="getBookInfoByISBN" resultType="com.xdc5.libmng.entity.BookInfo">
        SELECT isbn,title,author,cover,description
        FROM BookInfo
        where
        isbn=#{isbn}
    </select>

    <update id="updateBookInfo" parameterType="com.xdc5.libmng.entity.BookInfo">
        UPDATE BookInfo
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="author != null">author = #{author},</if>
            <if test="cover != null">cover = #{cover},</if>
            <if test="description != null">description = #{description},</if>
        </set>
        WHERE isbn = #{isbn}
    </update>
</mapper>