<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdc5.libmng.mapper.PenaltyDetailMapper">
    <sql id="selectPenaltyDetail">
        SELECT
            p.penaltyId,
            p.adminId,
            a.username AS adminName,
            a.email AS adminEmail,
            p.userId,
            u.username,
            p.reason,
            p.penaltyDate,
            p.endDate
        FROM
            Penalty p
                JOIN
            User a ON p.adminId = a.userId
                JOIN
            User u ON p.userId = u.userId
    </sql>
    <select id="getPenaltyDetailsByUserId" resultType="com.xdc5.libmng.entity.PenaltyDetail">
        <include refid="selectPenaltyDetail"/>
        WHERE u.userId=#{userId}
    </select>
</mapper>