<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdc5.libmng.mapper.ReservationMapper">

    <select id="getReservation" parameterType="com.xdc5.libmng.entity.Reservation" resultType="com.xdc5.libmng.entity.Reservation">
        SELECT rsvId,userId,isbn
        FROM Reservation
        <where>
            <if test="rsvId != null">
                AND rsvId=#{rsvId}
            </if>
            <if test="userId != null">
                AND userId=#{userId}
            </if>
            <if test="isbn != null">
                AND isbn=#{isbn}
            </if>
        </where>
    </select>
    <select id="getRsvIsbnByUserId" resultType="java.lang.String">
        SELECT isbn
        FROM Reservation
        WHERE userId=#{userId}
    </select>

    <delete id="delReservationById">
        DELETE FROM Reservation WHERE rsvId=#{rsvId}
    </delete>

    <insert id="addReservation" parameterType="com.xdc5.libmng.entity.Reservation" useGeneratedKeys="true" keyProperty="rsvId">
        INSERT INTO Reservation (userId,isbn
        )
        VALUES (
                   #{userId}, #{isbn}
               )
    </insert>

    <update id="updateReservation" parameterType="com.xdc5.libmng.entity.Reservation">
        UPDATE Reservation
        <set>
            <if test="userId != null">userId = #{userId},</if>
            <if test="isbn != null">isbn = #{isbn},</if>
        </set>
        WHERE rsvId = #{rsvId}
    </update>

</mapper>